/*   
Theme Name: GobbleBlank
Theme URI: http://gobblelogic.com
Description: Blank Starter WordPress Theme
Author: Gobble Logic
Author URI: http://gobblelogic.com
Version: .8
Github: https://github.com/gobblelogic/GobbleBlank/

License: GNU General Public License v2.0
License URI: http://www.gnu.org/licenses/gpl-2.0.html

GobbleBlank Theme, Copyright (c) 2012 GobbleLogic.com
*/
@import "normalize";

$body-copy: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
$headlines: Georgia, Times, serif;

html {font: 1em/1.5em $body-copy;}

@import "menu";
@import "comments";
@import "wysiwyg";
@import "formats";

h1,h2,h3,h,h5,h6 { margin: 1em 0; font-family: $headlines; }

strong 	{ font-weight: bold; }
em 		{ font-style: italic; }


.wrapper { margin: 0 auto; width: 85%; max-width: 1150px; }

.alignright 		{float: right;}
.alignleft 			{float: left;}
.aligncenter 		{clear: both; margin: 0 25%;}

.wp-caption			{  }
.wp-caption-text	{  }
.gallery-caption	{  }

.sticky				{  }

.bypostauthor		{  }


.right 	{float: right;}
.left 	{float: left;}
.clear 	{clear: both;}